body {
    --grid_size: 200px;

    background-color: darkslategrey;
    overflow: hidden;
}
.maze_block {
    background-color: aqua;
    border-style: solid;
    border-color: cadetblue;
    border-width: 2px;
    z-index: 0;
}
.end_block {
    background-color: red;
    z-index: 0;
    visibility: hidden;
}
#maze_holder {
    display: grid;
    grid-template-rows: repeat(5, var(--grid_size));
    grid-template-columns: repeat(5, var(--grid_size));
    position: absolute;
}
#player {
    --border_size: 2px; 

    position: absolute;
    background-color: blue;
    border-radius: 50px;
    border-width: var(--border_size);
    border-style: solid;
    border-color: darkblue;
    z-index: 1;
}